In [1]:
!pip install -r requirements.txt

import logging
#logger = logging.getLogger()
#logger.setLevel(logging.INFO)

import pandas as pd
import requests
import zipfile
import os
import shutil
from SPARQLWrapper import SPARQLWrapper, JSON, XML
import logging

from data_imports import *

Requirement already satisfied: SPARQLWrapper==1.8.4 in /srv/paws/lib/python3.6/site-packages (from -r requirements.txt (line 1))
Requirement already satisfied: rdflib>=4.0 in /srv/paws/lib/python3.6/site-packages (from SPARQLWrapper==1.8.4->-r requirements.txt (line 1))
Requirement already satisfied: isodate in /srv/paws/lib/python3.6/site-packages (from rdflib>=4.0->SPARQLWrapper==1.8.4->-r requirements.txt (line 1))
Requirement already satisfied: pyparsing in /srv/paws/lib/python3.6/site-packages (from rdflib>=4.0->SPARQLWrapper==1.8.4->-r requirements.txt (line 1))
Requirement already satisfied: six in /srv/paws/lib/python3.6/site-packages (from isodate->rdflib>=4.0->SPARQLWrapper==1.8.4->-r requirements.txt (line 1))

# Import Data

In [2]:
df_api = import_kantonZH_api() 
df_wikidata = import_wikidata_kantonZH()
swisstopowikidata = import_swisstopowikidata_kantonZH()

In [3]:
print(df_api.shape)
df_api.head()

(10032, 4)

   BFS_NR     GEBIET_NAME        date  population
0      21         Adlikon  2018-12-31       707.0
1     131        Adliswil  2018-12-31     18681.0
2     241        Aesch ZH  2018-12-31      1555.0
3       1     Aeugst a.A.  2018-12-31      1979.0
4       2  Affoltern a.A.  2018-12-31     12201.0

In [4]:
print(swisstopowikidata.shape)
swisstopowikidata.head()

(162, 3)

            Name  bfs wikidata_id
0         Hinwil  117      Q69383
1      Ottenbach   11      Q67513
2  Wetzikon (ZH)  121      Q68305
3       Adliswil  131      Q68210
4    Richterswil  138      Q68227

# Merge df_api with swisstopowikidata 

## Aim: add wikidata qnumber to df_api

In [5]:
df_api_qnumber = pd.merge(df_api, swisstopowikidata, how='left', left_on=['BFS_NR'], right_on=['bfs'])
print(df_api_qnumber.shape)
df_api_qnumber.head()

(10032, 7)

,BFS_NR,GEBIET_NAME,date,population,Name,bfs,wikidata_id
0,21,Adlikon,2018-12-31,707.0,Adlikon,21.0,Q68356
1,131,Adliswil,2018-12-31,18681.0,Adliswil,131.0,Q68210
2,241,Aesch ZH,2018-12-31,1555.0,Aesch (ZH),241.0,Q68342
3,1,Aeugst a.A.,2018-12-31,1979.0,Aeugst am Albis,1.0,Q64945
4,2,Affoltern a.A.,2018-12-31,12201.0,Affoltern am Albis,2.0,Q68290

###### Tere is no qnumber for some bfsnumbers. these bfsnumber do all not exist anymore because of "Gemeindefusionen". 
###### Decision: Only take bfsnumbers that are used today

In [6]:
# view na in kantonZHapiANDswisstopowikidata
df_api_qnumber_na = df_api_qnumber[df_api_qnumber.isna().any(axis=1)].sort_values(by=['BFS_NR'])
print(df_api_qnumber_na.shape)
print(df_api_qnumber_na.BFS_NR.unique()) # !!! Warum sind für diese keine Q Wikinr. vorhanden?)
df_api_qnumber_na

(798, 7)
[ 36  42  44 132 133 134 140 142 171 174 175 179 217 222]

,BFS_NR,GEBIET_NAME,date,population,Name,bfs,wikidata_id
8024,36,Oberstammheim (bis 2018),1973-12-31,760.0,NaN,NaN,NaN
1160,36,Oberstammheim (bis 2018),2012-12-31,1125.0,NaN,NaN,NaN
3624,36,Oberstammheim (bis 2018),1998-12-31,1041.0,NaN,NaN,NaN
9256,36,Oberstammheim (bis 2018),1966-12-31,850.0,NaN,NaN,NaN
7496,36,Oberstammheim (bis 2018),1976-12-31,785.0,NaN,NaN,NaN
3800,36,Oberstammheim (bis 2018),1997-12-31,1042.0,NaN,NaN,NaN
984,36,Oberstammheim (bis 2018),2013-12-31,1142.0,NaN,NaN,NaN
7320,36,Oberstammheim (bis 2018),1977-12-31,788.0,NaN,NaN,NaN
4152,36,Oberstammheim (bis 2018),1995-12-31,1069.0,NaN,NaN,NaN
9432,36,Oberstammheim (bis 2018),1965-12-31,831.0,NaN,NaN,NaN
7144,36,Oberstammheim (bis 2018),1978-12-31,794.0,NaN,NaN,NaN
808,36,Oberstammheim (bis 2018),2014-12-31,1154.0,NaN,NaN,NaN
4328,36,Oberstammheim (bis 2018),1994-12-31,1053.0,NaN,NaN,NaN
4504,36,Oberstammheim (bis 2018),1993-12-31,1041.0,NaN,NaN,NaN
6968,36,Oberstammheim (bis 2018),1979-12-31,822.0,NaN,NaN,NaN
4680,36,Oberstammheim (bis 2018),1992-12-31,1037.0,NaN,NaN,NaN
632,36,Oberstammheim (bis 2018),2015-12-31,1173.0,NaN,NaN,NaN
9608,36,Oberstammheim (bis 2018),1964-12-31,834.0,NaN,NaN,NaN
7672,36,Oberstammheim (bis 2018),1975-12-31,775.0,NaN,NaN,NaN
6792,36,Oberstammheim (bis 2018),1980-12-31,842.0,NaN,NaN,NaN
3448,36,Oberstammheim (bis 2018),1999-12-31,1048.0,NaN,NaN,NaN
7848,36,Oberstammheim (bis 2018),1974-12-31,746.0,NaN,NaN,NaN
8728,36,Oberstammheim (bis 2018),1969-12-31,826.0,NaN,NaN,NaN
2040,36,Oberstammheim (bis 2018),2007-12-31,1069.0,NaN,NaN,NaN
1864,36,Oberstammheim (bis 2018),2008-12-31,1075.0,NaN,NaN,NaN
8552,36,Oberstammheim (bis 2018),1970-12-31,765.0,NaN,NaN,NaN
2216,36,Oberstammheim (bis 2018),2006-12-31,1080.0,NaN,NaN,NaN
2392,36,Oberstammheim (bis 2018),2005-12-31,1079.0,NaN,NaN,NaN
1688,36,Oberstammheim (bis 2018),2009-12-31,1066.0,NaN,NaN,NaN
8904,36,Oberstammheim (bis 2018),1968-12-31,819.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
8689,222,Hofstetten (bis 2017),1969-12-31,387.0,NaN,NaN,NaN
5345,222,Hofstetten (bis 2017),1988-12-31,398.0,NaN,NaN,NaN
8337,222,Hofstetten (bis 2017),1971-12-31,381.0,NaN,NaN,NaN
2177,222,Hofstetten (bis 2017),2006-12-31,430.0,NaN,NaN,NaN
2529,222,Hofstetten (bis 2017),2004-12-31,420.0,NaN,NaN,NaN
8513,222,Hofstetten (bis 2017),1970-12-31,381.0,NaN,NaN,NaN
2353,222,Hofstetten (bis 2017),2005-12-31,416.0,NaN,NaN,NaN
3761,222,Hofstetten (bis 2017),1997-12-31,431.0,NaN,NaN,NaN
5169,222,Hofstetten (bis 2017),1989-12-31,396.0,NaN,NaN,NaN
769,222,Hofstetten (bis 2017),2014-12-31,482.0,NaN,NaN,NaN
1649,222,Hofstetten (bis 2017),2009-12-31,432.0,NaN,NaN,NaN
9041,222,Hofstetten (bis 2017),1967-12-31,372.0,NaN,NaN,NaN
7985,222,Hofstetten (bis 2017),1973-12-31,386.0,NaN,NaN,NaN
3057,222,Hofstetten (bis 2017),2001-12-31,435.0,NaN,NaN,NaN
4641,222,Hofstetten (bis 2017),1992-12-31,396.0,NaN,NaN,NaN
5697,222,Hofstetten (bis 2017),1986-12-31,372.0,NaN,NaN,NaN
945,222,Hofstetten (bis 2017),2013-12-31,481.0,NaN,NaN,NaN
9393,222,Hofstetten (bis 2017),1965-12-31,425.0,NaN,NaN,NaN
3585,222,Hofstetten (bis 2017),1998-12-31,430.0,NaN,NaN,NaN
8161,222,Hofstetten (bis 2017),1972-12-31,383.0,NaN,NaN,NaN
6929,222,Hofstetten (bis 2017),1979-12-31,376.0,NaN,NaN,NaN
7281,222,Hofstetten (bis 2017),1977-12-31,386.0,NaN,NaN,NaN
9217,222,Hofstetten (bis 2017),1966-12-31,414.0,NaN,NaN,NaN
7633,222,Hofstetten (bis 2017),1975-12-31,385.0,NaN,NaN,NaN
1297,222,Hofstetten (bis 2017),2011-12-31,472.0,NaN,NaN,NaN
2881,222,Hofstetten (bis 2017),2002-12-31,419.0,NaN,NaN,NaN
5521,222,Hofstetten (bis 2017),1987-12-31,382.0,NaN,NaN,NaN
1473,222,Hofstetten (bis 2017),2010-12-31,447.0,NaN,NaN,NaN
1121,222,Hofstetten (bis 2017),2012-12-31,481.0,NaN,NaN,NaN
6049,222,Hofstetten (bis 2017),1984-12-31,372.0,NaN,NaN,NaN

In [7]:
df_api_qnumber[df_api_qnumber['BFS_NR']==297]

      BFS_NR GEBIET_NAME        date  population   Name    bfs wikidata_id
11       297       Bauma  2018-12-31      4961.0  Bauma  297.0      Q67145
187      297       Bauma  2017-12-31      4925.0  Bauma  297.0      Q67145
363      297       Bauma  2016-12-31      4896.0  Bauma  297.0      Q67145
539      297       Bauma  2015-12-31      4837.0  Bauma  297.0      Q67145
715      297       Bauma  2014-12-31      4718.0  Bauma  297.0      Q67145
891      297       Bauma  2013-12-31      4650.0  Bauma  297.0      Q67145
1067     297       Bauma  2012-12-31      4569.0  Bauma  297.0      Q67145
1243     297       Bauma  2011-12-31      4550.0  Bauma  297.0      Q67145
1419     297       Bauma  2010-12-31      4522.0  Bauma  297.0      Q67145
1595     297       Bauma  2009-12-31      4516.0  Bauma  297.0      Q67145
1771     297       Bauma  2008-12-31      4523.0  Bauma  297.0      Q67145
1947     297       Bauma  2007-12-31      4544.0  Bauma  297.0      Q67145
2123     297       Bauma  2006-12-31      4549.0  Bauma  297.0      Q67145
2299     297       Bauma  2005-12-31      4469.0  Bauma  297.0      Q67145
2475     297       Bauma  2004-12-31      4555.0  Bauma  297.0      Q67145
2651     297       Bauma  2003-12-31      4579.0  Bauma  297.0      Q67145
2827     297       Bauma  2002-12-31      4582.0  Bauma  297.0      Q67145
3003     297       Bauma  2001-12-31      4521.0  Bauma  297.0      Q67145
3179     297       Bauma  2000-12-31      4520.0  Bauma  297.0      Q67145
3355     297       Bauma  1999-12-31      4538.0  Bauma  297.0      Q67145
3531     297       Bauma  1998-12-31      4585.0  Bauma  297.0      Q67145
3707     297       Bauma  1997-12-31      4663.0  Bauma  297.0      Q67145
3883     297       Bauma  1996-12-31      4608.0  Bauma  297.0      Q67145
4059     297       Bauma  1995-12-31      4548.0  Bauma  297.0      Q67145
4235     297       Bauma  1994-12-31      4445.0  Bauma  297.0      Q67145
4411     297       Bauma  1993-12-31      4396.0  Bauma  297.0      Q67145
4587     297       Bauma  1992-12-31      4322.0  Bauma  297.0      Q67145
4763     297       Bauma  1991-12-31      4261.0  Bauma  297.0      Q67145
4939     297       Bauma  1990-12-31      4155.0  Bauma  297.0      Q67145
5115     297       Bauma  1989-12-31      4066.0  Bauma  297.0      Q67145
5291     297       Bauma  1988-12-31      3810.0  Bauma  297.0      Q67145
5467     297       Bauma  1987-12-31      3802.0  Bauma  297.0      Q67145
5643     297       Bauma  1986-12-31      3763.0  Bauma  297.0      Q67145
5819     297       Bauma  1985-12-31      3722.0  Bauma  297.0      Q67145
5995     297       Bauma  1984-12-31      3715.0  Bauma  297.0      Q67145
6171     297       Bauma  1983-12-31      3533.0  Bauma  297.0      Q67145
6347     297       Bauma  1982-12-31      3570.0  Bauma  297.0      Q67145
6523     297       Bauma  1981-12-31      3506.0  Bauma  297.0      Q67145
6699     297       Bauma  1980-12-31      3353.0  Bauma  297.0      Q67145
6875     297       Bauma  1979-12-31      3354.0  Bauma  297.0      Q67145
7051     297       Bauma  1978-12-31      3332.0  Bauma  297.0      Q67145
7227     297       Bauma  1977-12-31      3267.0  Bauma  297.0      Q67145
7403     297       Bauma  1976-12-31      3292.0  Bauma  297.0      Q67145
7579     297       Bauma  1975-12-31      3300.0  Bauma  297.0      Q67145
7755     297       Bauma  1974-12-31      3331.0  Bauma  297.0      Q67145
7931     297       Bauma  1973-12-31      3400.0  Bauma  297.0      Q67145
8107     297       Bauma  1972-12-31      3386.0  Bauma  297.0      Q67145
8283     297       Bauma  1971-12-31      3428.0  Bauma  297.0      Q67145
8459     297       Bauma  1970-12-31      3474.0  Bauma  297.0      Q67145
8635     297       Bauma  1969-12-31      3504.0  Bauma  297.0      Q67145
8811     297       Bauma  1968-12-31      3561.0  Bauma  297.0      Q67145
8987     297       Bauma  1967-12-31      3544.0  Bauma  297.0      Q67145
9163     297       Bauma  1966-12-31      3559.0  Bauma  297.0      Q67145
9339     297       Bauma  1965-12-31      3484.0  Bauma  297.0      Q67145
9515     297       Bauma  1964-12-31      3556.0  Bauma  297.0      Q67145
9691     297       Bauma  1963-12-31      3620.0  Bauma  297.0      Q67145
9867     297       Bauma  1962-12-31      3611.0  Bauma  297.0      Q67145

In [8]:
df_api_qnumber[df_api_qnumber['BFS_NR']==171]

      BFS_NR       GEBIET_NAME        date  population Name  bfs wikidata_id
12       171  Bauma (bis 2014)  2018-12-31         NaN  NaN  NaN         NaN
188      171  Bauma (bis 2014)  2017-12-31         NaN  NaN  NaN         NaN
364      171  Bauma (bis 2014)  2016-12-31         NaN  NaN  NaN         NaN
540      171  Bauma (bis 2014)  2015-12-31         NaN  NaN  NaN         NaN
716      171  Bauma (bis 2014)  2014-12-31      4367.0  NaN  NaN         NaN
892      171  Bauma (bis 2014)  2013-12-31      4297.0  NaN  NaN         NaN
1068     171  Bauma (bis 2014)  2012-12-31      4218.0  NaN  NaN         NaN
1244     171  Bauma (bis 2014)  2011-12-31      4199.0  NaN  NaN         NaN
1420     171  Bauma (bis 2014)  2010-12-31      4160.0  NaN  NaN         NaN
1596     171  Bauma (bis 2014)  2009-12-31      4150.0  NaN  NaN         NaN
1772     171  Bauma (bis 2014)  2008-12-31      4172.0  NaN  NaN         NaN
1948     171  Bauma (bis 2014)  2007-12-31      4191.0  NaN  NaN         NaN
2124     171  Bauma (bis 2014)  2006-12-31      4191.0  NaN  NaN         NaN
2300     171  Bauma (bis 2014)  2005-12-31      4118.0  NaN  NaN         NaN
2476     171  Bauma (bis 2014)  2004-12-31      4186.0  NaN  NaN         NaN
2652     171  Bauma (bis 2014)  2003-12-31      4213.0  NaN  NaN         NaN
2828     171  Bauma (bis 2014)  2002-12-31      4223.0  NaN  NaN         NaN
3004     171  Bauma (bis 2014)  2001-12-31      4192.0  NaN  NaN         NaN
3180     171  Bauma (bis 2014)  2000-12-31      4171.0  NaN  NaN         NaN
3356     171  Bauma (bis 2014)  1999-12-31      4197.0  NaN  NaN         NaN
3532     171  Bauma (bis 2014)  1998-12-31      4234.0  NaN  NaN         NaN
3708     171  Bauma (bis 2014)  1997-12-31      4308.0  NaN  NaN         NaN
3884     171  Bauma (bis 2014)  1996-12-31      4266.0  NaN  NaN         NaN
4060     171  Bauma (bis 2014)  1995-12-31      4190.0  NaN  NaN         NaN
4236     171  Bauma (bis 2014)  1994-12-31      4101.0  NaN  NaN         NaN
4412     171  Bauma (bis 2014)  1993-12-31      4053.0  NaN  NaN         NaN
4588     171  Bauma (bis 2014)  1992-12-31      3973.0  NaN  NaN         NaN
4764     171  Bauma (bis 2014)  1991-12-31      3900.0  NaN  NaN         NaN
4940     171  Bauma (bis 2014)  1990-12-31      3795.0  NaN  NaN         NaN
5116     171  Bauma (bis 2014)  1989-12-31      3708.0  NaN  NaN         NaN
5292     171  Bauma (bis 2014)  1988-12-31      3460.0  NaN  NaN         NaN
5468     171  Bauma (bis 2014)  1987-12-31      3448.0  NaN  NaN         NaN
5644     171  Bauma (bis 2014)  1986-12-31      3412.0  NaN  NaN         NaN
5820     171  Bauma (bis 2014)  1985-12-31      3390.0  NaN  NaN         NaN
5996     171  Bauma (bis 2014)  1984-12-31      3391.0  NaN  NaN         NaN
6172     171  Bauma (bis 2014)  1983-12-31      3222.0  NaN  NaN         NaN
6348     171  Bauma (bis 2014)  1982-12-31      3269.0  NaN  NaN         NaN
6524     171  Bauma (bis 2014)  1981-12-31      3194.0  NaN  NaN         NaN
6700     171  Bauma (bis 2014)  1980-12-31      3056.0  NaN  NaN         NaN
6876     171  Bauma (bis 2014)  1979-12-31      3072.0  NaN  NaN         NaN
7052     171  Bauma (bis 2014)  1978-12-31      3052.0  NaN  NaN         NaN
7228     171  Bauma (bis 2014)  1977-12-31      2987.0  NaN  NaN         NaN
7404     171  Bauma (bis 2014)  1976-12-31      3005.0  NaN  NaN         NaN
7580     171  Bauma (bis 2014)  1975-12-31      3005.0  NaN  NaN         NaN
7756     171  Bauma (bis 2014)  1974-12-31      3038.0  NaN  NaN         NaN
7932     171  Bauma (bis 2014)  1973-12-31      3106.0  NaN  NaN         NaN
8108     171  Bauma (bis 2014)  1972-12-31      3082.0  NaN  NaN         NaN
8284     171  Bauma (bis 2014)  1971-12-31      3120.0  NaN  NaN         NaN
8460     171  Bauma (bis 2014)  1970-12-31      3159.0  NaN  NaN         NaN
8636     171  Bauma (bis 2014)  1969-12-31      3215.0  NaN  NaN         NaN
8812     171  Bauma (bis 2014)  1968-12-31      3260.0  NaN  NaN         NaN
8988     171  Bauma (bis 2014)  1967-12-31      3233.0  NaN  NaN         NaN
9164     171  Bauma (bis 2014)  1966-12-31      3208.0  NaN  NaN         NaN
9340     171  Bauma (bis 2014)  1965-12-31      3103.0  NaN  NaN         NaN
9516     171  Bauma (bis 2014)  1964-12-31      3164.0  NaN  NaN         NaN
9692     171  Bauma (bis 2014)  1963-12-31      3232.0  NaN  NaN         NaN
9868     171  Bauma (bis 2014)  1962-12-31      3220.0  NaN  NaN         NaN

In [9]:
df_api_qnumber[df_api_qnumber['BFS_NR']==179]

,BFS_NR,GEBIET_NAME,date,population,Name,bfs,wikidata_id
140,179,Sternenberg (bis 2014),2018-12-31,NaN,NaN,NaN,NaN
316,179,Sternenberg (bis 2014),2017-12-31,NaN,NaN,NaN,NaN
492,179,Sternenberg (bis 2014),2016-12-31,NaN,NaN,NaN,NaN
668,179,Sternenberg (bis 2014),2015-12-31,NaN,NaN,NaN,NaN
844,179,Sternenberg (bis 2014),2014-12-31,351.0,NaN,NaN,NaN
1020,179,Sternenberg (bis 2014),2013-12-31,353.0,NaN,NaN,NaN
1196,179,Sternenberg (bis 2014),2012-12-31,351.0,NaN,NaN,NaN
1372,179,Sternenberg (bis 2014),2011-12-31,351.0,NaN,NaN,NaN
1548,179,Sternenberg (bis 2014),2010-12-31,362.0,NaN,NaN,NaN
1724,179,Sternenberg (bis 2014),2009-12-31,366.0,NaN,NaN,NaN
1900,179,Sternenberg (bis 2014),2008-12-31,351.0,NaN,NaN,NaN
2076,179,Sternenberg (bis 2014),2007-12-31,353.0,NaN,NaN,NaN
2252,179,Sternenberg (bis 2014),2006-12-31,358.0,NaN,NaN,NaN
2428,179,Sternenberg (bis 2014),2005-12-31,351.0,NaN,NaN,NaN
2604,179,Sternenberg (bis 2014),2004-12-31,369.0,NaN,NaN,NaN
2780,179,Sternenberg (bis 2014),2003-12-31,366.0,NaN,NaN,NaN
2956,179,Sternenberg (bis 2014),2002-12-31,359.0,NaN,NaN,NaN
3132,179,Sternenberg (bis 2014),2001-12-31,329.0,NaN,NaN,NaN
3308,179,Sternenberg (bis 2014),2000-12-31,349.0,NaN,NaN,NaN
3484,179,Sternenberg (bis 2014),1999-12-31,341.0,NaN,NaN,NaN
3660,179,Sternenberg (bis 2014),1998-12-31,351.0,NaN,NaN,NaN
3836,179,Sternenberg (bis 2014),1997-12-31,355.0,NaN,NaN,NaN
4012,179,Sternenberg (bis 2014),1996-12-31,342.0,NaN,NaN,NaN
4188,179,Sternenberg (bis 2014),1995-12-31,358.0,NaN,NaN,NaN
4364,179,Sternenberg (bis 2014),1994-12-31,344.0,NaN,NaN,NaN
4540,179,Sternenberg (bis 2014),1993-12-31,343.0,NaN,NaN,NaN
4716,179,Sternenberg (bis 2014),1992-12-31,349.0,NaN,NaN,NaN
4892,179,Sternenberg (bis 2014),1991-12-31,361.0,NaN,NaN,NaN
5068,179,Sternenberg (bis 2014),1990-12-31,360.0,NaN,NaN,NaN
5244,179,Sternenberg (bis 2014),1989-12-31,358.0,NaN,NaN,NaN
5420,179,Sternenberg (bis 2014),1988-12-31,350.0,NaN,NaN,NaN
5596,179,Sternenberg (bis 2014),1987-12-31,354.0,NaN,NaN,NaN
5772,179,Sternenberg (bis 2014),1986-12-31,351.0,NaN,NaN,NaN
5948,179,Sternenberg (bis 2014),1985-12-31,332.0,NaN,NaN,NaN
6124,179,Sternenberg (bis 2014),1984-12-31,324.0,NaN,NaN,NaN
6300,179,Sternenberg (bis 2014),1983-12-31,311.0,NaN,NaN,NaN
6476,179,Sternenberg (bis 2014),1982-12-31,301.0,NaN,NaN,NaN
6652,179,Sternenberg (bis 2014),1981-12-31,312.0,NaN,NaN,NaN
6828,179,Sternenberg (bis 2014),1980-12-31,297.0,NaN,NaN,NaN
7004,179,Sternenberg (bis 2014),1979-12-31,282.0,NaN,NaN,NaN
7180,179,Sternenberg (bis 2014),1978-12-31,280.0,NaN,NaN,NaN
7356,179,Sternenberg (bis 2014),1977-12-31,280.0,NaN,NaN,NaN
7532,179,Sternenberg (bis 2014),1976-12-31,287.0,NaN,NaN,NaN
7708,179,Sternenberg (bis 2014),1975-12-31,295.0,NaN,NaN,NaN
7884,179,Sternenberg (bis 2014),1974-12-31,293.0,NaN,NaN,NaN
8060,179,Sternenberg (bis 2014),1973-12-31,294.0,NaN,NaN,NaN
8236,179,Sternenberg (bis 2014),1972-12-31,304.0,NaN,NaN,NaN
8412,179,Sternenberg (bis 2014),1971-12-31,308.0,NaN,NaN,NaN
8588,179,Sternenberg (bis 2014),1970-12-31,315.0,NaN,NaN,NaN
8764,179,Sternenberg (bis 2014),1969-12-31,289.0,NaN,NaN,NaN
8940,179,Sternenberg (bis 2014),1968-12-31,301.0,NaN,NaN,NaN
9116,179,Sternenberg (bis 2014),1967-12-31,311.0,NaN,NaN,NaN
9292,179,Sternenberg (bis 2014),1966-12-31,351.0,NaN,NaN,NaN
9468,179,Sternenberg (bis 2014),1965-12-31,381.0,NaN,NaN,NaN
9644,179,Sternenberg (bis 2014),1964-12-31,392.0,NaN,NaN,NaN
9820,179,Sternenberg (bis 2014),1963-12-31,388.0,NaN,NaN,NaN
9996,179,Sternenberg (bis 2014),1962-12-31,391.0,NaN,NaN,NaN

In [10]:
df_api_qnumber_dropna = pd.merge(df_api, swisstopowikidata, how='left', left_on=['BFS_NR'], right_on=['bfs']).dropna()
print(df_api_qnumber_dropna.shape)
df_api_qnumber_dropna.head()

(9234, 7)

,BFS_NR,GEBIET_NAME,date,population,Name,bfs,wikidata_id
0,21,Adlikon,2018-12-31,707.0,Adlikon,21.0,Q68356
1,131,Adliswil,2018-12-31,18681.0,Adliswil,131.0,Q68210
2,241,Aesch ZH,2018-12-31,1555.0,Aesch (ZH),241.0,Q68342
3,1,Aeugst a.A.,2018-12-31,1979.0,Aeugst am Albis,1.0,Q64945
4,2,Affoltern a.A.,2018-12-31,12201.0,Affoltern am Albis,2.0,Q68290

In [11]:
# check
if df_api_qnumber_na.shape[0] + df_api_qnumber_dropna.shape[0] == df_api_qnumber.shape[0]:
    print("check ok")

check ok

# Merge df_api with wikidata


## Aim: Check population and ... ???

In [12]:
df_api_qnumber_dropna['check'] = df_api_qnumber_dropna['date'].astype(str) + '---' + df_api['BFS_NR'].astype(str)
df_wikidata['check'] = df_wikidata['date'].astype(str) + '---' + df_wikidata['bfs_id'].astype(str)

In [13]:
df_api_sel_f = df_api_qnumber_dropna[(df_api_qnumber_dropna['check'].isin(df_wikidata['check']) == False)]
df_api_sel_f.to_csv("test.tsv", header = True, sep='\t')
print(df_api_sel_f.columns)
print(df_api_sel_f.shape)
df_api_sel_f.head()

Index(['BFS_NR', 'GEBIET_NAME', 'date', 'population', 'Name', 'bfs',
       'wikidata_id', 'check'],
      dtype='object')
(8871, 8)

,BFS_NR,GEBIET_NAME,date,population,Name,bfs,wikidata_id,check
138,292,Stammheim,2018-12-31,2740.0,Stammheim,292.0,Q60322693,2018-12-31---292
213,294,Elgg,2017-12-31,4903.0,Elgg,294.0,Q67137,2017-12-31---294
314,292,Stammheim,2017-12-31,2741.0,Stammheim,292.0,Q60322693,2017-12-31---292
352,21,Adlikon,2016-12-31,662.0,Adlikon,21.0,Q68356,2016-12-31---21
353,131,Adliswil,2016-12-31,18651.0,Adliswil,131.0,Q68210,2016-12-31---131

In [14]:
df_api_sel_t = df_api_qnumber_dropna[(df_api_qnumber_dropna['check'].isin(df_wikidata['check']) == True)]
print(df_api_sel_t.columns)
print(df_api_sel_t.shape)
df_api_sel_t.head()

Index(['BFS_NR', 'GEBIET_NAME', 'date', 'population', 'Name', 'bfs',
       'wikidata_id', 'check'],
      dtype='object')
(363, 8)

,BFS_NR,GEBIET_NAME,date,population,Name,bfs,wikidata_id,check
0,21,Adlikon,2018-12-31,707.0,Adlikon,21.0,Q68356,2018-12-31---21
1,131,Adliswil,2018-12-31,18681.0,Adliswil,131.0,Q68210,2018-12-31---131
2,241,Aesch ZH,2018-12-31,1555.0,Aesch (ZH),241.0,Q68342,2018-12-31---241
3,1,Aeugst a.A.,2018-12-31,1979.0,Aeugst am Albis,1.0,Q64945,2018-12-31---1
4,2,Affoltern a.A.,2018-12-31,12201.0,Affoltern am Albis,2.0,Q68290,2018-12-31---2

In [21]:
ttt = pd.merge(df_api_sel_t, df_wikidata, how='left', left_on=['check'], right_on=['check'])
print(ttt.shape)
print(df_api_sel_t.shape)
ttt[["Name", "BFS_NR", "wikidata_id_y", "date_x", "date_y", "population_x", "population_y", "refpublisher"]]

,Name,BFS_NR,wikidata_id_y,date_x,date_y,population_x,population_y,refpublisher
0,Adlikon,21,Q68356,2018-12-31,2018-12-31,707.0,707,http://www.wikidata.org/entity/Q285453
1,Adliswil,131,Q68210,2018-12-31,2018-12-31,18681.0,18765,http://www.wikidata.org/entity/Q285453
2,Aesch (ZH),241,Q68342,2018-12-31,2018-12-31,1555.0,1555,http://www.wikidata.org/entity/Q285453
3,Aeugst am Albis,1,Q64945,2018-12-31,2018-12-31,1979.0,1982,http://www.wikidata.org/entity/Q285453
4,Affoltern am Albis,2,Q68290,2018-12-31,2018-12-31,12201.0,12226,http://www.wikidata.org/entity/Q285453
5,Altikon,211,Q65929,2018-12-31,2018-12-31,705.0,706,http://www.wikidata.org/entity/Q285453
6,Andelfingen,30,Q68423,2018-12-31,2018-12-31,2207.0,2215,http://www.wikidata.org/entity/Q285453
7,Bachenbülach,51,Q69887,2018-12-31,2018-12-31,4159.0,4165,http://www.wikidata.org/entity/Q285453
8,Bachs,81,Q70273,2018-12-31,2018-12-31,580.0,580,http://www.wikidata.org/entity/Q285453
9,Bäretswil,111,Q65868,2018-12-31,2018-12-31,5009.0,5025,http://www.wikidata.org/entity/Q285453
10,Bassersdorf,52,Q69734,2018-12-31,2018-12-31,11668.0,11685,http://www.wikidata.org/entity/Q285453
11,Bauma,297,Q67145,2018-12-31,2018-12-31,4961.0,4965,http://www.wikidata.org/entity/Q285453
12,Benken (ZH),22,Q70171,2018-12-31,2018-12-31,855.0,855,http://www.wikidata.org/entity/Q285453
13,Berg am Irchel,23,Q65781,2018-12-31,2018-12-31,569.0,570,http://www.wikidata.org/entity/Q285453
14,Birmensdorf (ZH),242,Q65282,2018-12-31,2018-12-31,6497.0,6511,http://www.wikidata.org/entity/Q285453
15,Bonstetten,3,Q65510,2018-12-31,2018-12-31,5539.0,5543,http://www.wikidata.org/entity/Q285453
16,Boppelsen,82,Q67062,2018-12-31,2018-12-31,1372.0,1377,http://www.wikidata.org/entity/Q285453
17,Brütten,213,Q65812,2018-12-31,2018-12-31,2009.0,2010,http://www.wikidata.org/entity/Q285453
18,Bubikon,112,Q67068,2018-12-31,2018-12-31,7335.0,7334,http://www.wikidata.org/entity/Q285453
19,Buch am Irchel,24,Q68451,2018-12-31,2018-12-31,977.0,977,http://www.wikidata.org/entity/Q285453
20,Buchs (ZH),83,Q67539,2018-12-31,2018-12-31,6390.0,6398,http://www.wikidata.org/entity/Q285453
21,Bülach,53,Q9093,2018-12-31,2018-12-31,20386.0,20443,http://www.wikidata.org/entity/Q285453
22,Dachsen,25,Q67949,2018-12-31,2018-12-31,1916.0,1920,http://www.wikidata.org/entity/Q285453
23,Dägerlen,214,Q68437,2018-12-31,2018-12-31,1016.0,1017,http://www.wikidata.org/entity/Q285453
24,Dällikon,84,Q66755,2018-12-31,2018-12-31,4134.0,4147,http://www.wikidata.org/entity/Q285453
25,Dänikon,85,Q70131,2018-12-31,2018-12-31,1873.0,1874,http://www.wikidata.org/entity/Q285453
26,Dättlikon,215,Q70381,2018-12-31,2018-12-31,790.0,789,http://www.wikidata.org/entity/Q285453
27,Dielsdorf,86,Q67951,2018-12-31,2018-12-31,5988.0,6002,http://www.wikidata.org/entity/Q285453
28,Dietikon,243,Q64070,2018-12-31,2018-12-31,27146.0,27236,http://www.wikidata.org/entity/Q285453
29,Dietlikon,54,Q65164,2018-12-31,2018-12-31,7768.0,7773,http://www.wikidata.org/entity/Q285453
...,...,...,...,...,...,...,...,...
356,Dietlikon,54,Q65164,2012-12-31,2012-12-31,7164.0,7170,NA
357,Dübendorf,191,Q64082,2012-12-31,2012-12-31,25299.0,25341,NA
358,Fällanden,193,Q64869,2012-12-31,2012-12-31,8067.0,8072,NA
359,Greifensee,194,Q64882,2012-12-31,2012-12-31,5214.0,5226,NA
360,Hausen am Albis,4,Q65231,2012-12-31,2012-12-31,3372.0,3376,NA
361,Illnau-Effretikon,296,Q64873,2012-12-31,2012-12-31,16505.0,16117,NA
362,Kappel am Albis,6,Q64589,2012-12-31,2012-12-31,922.0,922,NA
363,Kloten,62,Q68165,2012-12-31,2012-12-31,18373.0,18402,NA
364,Langnau am Albis,136,Q65347,2012-12-31,2012-12-31,7223.0,7254,NA
365,Maur,195,Q64857,2012-12-31,2012-12-31,9610.0,8072,NA
366,Oberengstringen,245,Q69963,2012-12-31,2012-12-31,6397.0,6416,NA
367,Oberglatt,92,Q70022,2012-12-31,2012-12-31,6060.0,6063,NA
368,Oetwil an der Limmat,246,Q66414,2012-12-31,2012-12-31,2326.0,2332,NA
369,Opfikon,66,Q64224,2012-12-31,2012-12-31,16045.0,16116,NA
370,Pfäffikon,177,Q68269,2012-12-31,2012-12-31,11012.0,11027,NA
371,Rümlang,97,Q67894,2012-12-31,2012-12-31,7006.0,7019,NA
372,Schlieren,247,Q69148,2012-12-31,2012-12-31,17170.0,17199,NA
373,Thalwil,141,Q68959,2012-12-31,2012-12-31,17309.0,17340,NA
374,Uitikon,248,Q66678,2012-12-31,2012-12-31,3944.0,3947,NA
375,Unterengstringen,249,Q66079,2012-12-31,2012-12-31,3393.0,3398,NA
376,Urdorf,250,Q69109,2012-12-31,2012-12-31,9456.0,9471,NA
377,Uster,198,Q64032,2012-12-31,2012-12-31,32710.0,32748,NA
378,Volketswil,199,Q69754,2012-12-31,2012-12-31,17743.0,17851,NA
379,Wädenswil,293,Q69718,2012-12-31,2012-12-31,23698.0,20967,NA
380,Wallisellen,69,Q69374,2012-12-31,2012-12-31,14149.0,14188,NA
381,Wetzikon (ZH),121,Q68305,2012-12-31,2012-12-31,23254.0,23274,NA
382,Winterthur,230,Q9125,2012-12-31,2012-12-31,104366.0,104468,NA
383,Zürich,261,Q72,2012-12-31,2012-12-31,379915.0,380777,NA
384,Bülach,53,Q9093,2011-12-31,2011-12-31,17472.0,17503,NA
385,Bülach,53,Q9093,2010-12-31,2010-12-31,17478.0,17511,NA

In [16]:
ttt.shape

(8871, 15)

In [17]:
ttt.columns

Index(['BFS_NR', 'GEBIET_NAME', 'date_x', 'population_x', 'Name', 'bfs',
       'wikidata_id_x', 'check', 'bfs_id', 'date_y', 'population_y',
       'qualifier', 'refpublisher', 'refurl', 'wikidata_id_y'],
      dtype='object')

In [18]:
#ttt[["check", "wikidata_id_x", "wikidata_id_y","Name", "population_x", "population_y", "qualifier", "refpublisher", "refurl"]]